@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5e9e9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply xl:m-40 xl:mt-20 xl:mb-10 lg:m-24 lg:mt-20 m-5 md:m-10;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*List Design*/

.card {
  @apply bg-white rounded-xl shadow-md text-black gap-4 p-5 m-5 grid lg:grid-cols-[1fr,4fr,1fr] md:grid-cols-[1fr,4fr,1fr] sm:grid-cols-1;
}

.image {
  @apply rounded-lg lg:w-40 lg:h-40 md:w-40 md:h-40 w-full h-full;

}

.title {
  @apply text-2xl font-bold;
}

.description {
  @apply mt-4;
}

.card-content {
    @apply flex flex-col justify-between ml-4;
}

.button {
  @apply bg-black text-white py-2 px-4 rounded-lg w-36;

}

.button-placement {
    @apply flex justify-end items-center;
}
